/* Fonts */
@font-face {
    font-family: 'Gilroy';
    src:url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src:url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src:url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src:url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight:500;
    font-style: normal;
}
/* General Styles */
:root{
    --darkBrown:#593F0D;
    --spanBrown:#FFCF6E;
    --gilroy:'Gilroy';

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /General Styles */
/* ------------------------------------------------ */
/* Header */
.header{
    position: relative;
    background-image:linear-gradient(90deg, #FFFFFF 20%, rgba(255, 255, 255, 0) 86.67%),
     url('../Images/main__bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    height: 670px;
}

.container{
    width: 1220px;
    margin: 0 auto;
    padding:0 10px;
}
.nav{
    display: flex;
    align-items:flex-end;
    padding-top: 31px;
}
.logo{
    margin-right:43px;
}
.logo__text{
    display: inline-block;
    font: 400 13px/16px var(--gilroy);
    width: 240px;
    margin-left: 7px;
    color:var(--darkBrown);
}
.nav ul li{
    list-style-type: none;
    display: inline-block;
}
.list__item--text{
    font: 400 15px/18px var(--gilroy);
    width: 144px;
    text-align: center;
    color:var(--darkBrown);
    margin-right: 14px;
}
.list__item+.list__item{
    margin-left: 9px;
}
.list__item .youtube{
  vertical-align:bottom;
}
.sub__bg{
    position: absolute;
    bottom: 0;
    width: 94.5%;
}
.call__number{
    display: inline-block;
    vertical-align: bottom;
    margin-left: 125px;
}
.number{
    font: 700 20px/25px var(--gilroy);
    color: var(--darkBrown);
    text-align: right;
    width: 188px;
}
.circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #22C74E;
}
.time{
    font: 400 12px/14px var(--gilroy);
    color: var(--darkBrown);
    width: 188px;
}
.btn__call{
    width: 180px;
    height: 43px;
    position: relative;
    font:500 12px/23px var(--gilroy);
    letter-spacing: 10%;
    color: var(--darkBrown);
    display:inline-block;
    padding: 9px 13px 7px 14px;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(0deg, rgba(131, 93, 19, 0.36), rgba(131, 93, 19, 0.36)), linear-gradient(263.81deg, #FBD293 10.32%, #FFD172 98.17%);
    transform: matrix(1, 0, 0, 1, 0, 0);
    border-radius: 6px;
    margin-left: 20px;
}
.btn__call::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    left: 0;
    top: -2px;
    background: linear-gradient(274.27deg, rgba(255, 255, 255, 0) -14.6%, rgba(255, 255, 255, 0.39) 39.52%, rgba(255, 255, 255, 0) 110.6%), linear-gradient(263.81deg, #FFC771 10.32%, #FFC858 98.17%);
    box-shadow: inset 0px 2px 15px rgba(255, 255, 255, 0.41), inset 19px 0px 25px rgba(255, 255, 255, 0.11);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 6px;
    z-index: -1;
}

.header__info{
    width: 650px;
    color:var(--darkBrown);
    margin-top: 73px;
}
.header__title,
.section-sup__title{
    font:700 40px/50px var(--gilroy)
}
.gold{
    font:700 40px/48px var(--gilroy);
    color: var(--spanBrown);
}
.line{
    display:block;
    width: 100px;
    height: 3px;
    margin-top: 55px;
   background-color: var(--spanBrown);
}
.header__text,
.section-sup__text{
    font: 400 25px/30px var(--gilroy);
    width: 403px;
    margin-top: 26px;
}
.btn__header{
    position: relative;
}
.btn__header .positioned{
    position: absolute;
    top: 0;
    left:260px;
}
.btn__header .btn__call{
    font-weight: 700;
   margin: 39px 0 0 0;
   padding: 32px 20px 23px 20px;
   text-transform: uppercase;
   width: 320px;
   height: 78px;
   border-radius: 12px;
}
.btn__header .btn__call::after{
    top: -5px;
    border-radius: 12px;
}
/* /Header */

/* Main */
.hero{
    padding-top: 80px;
}
.section-sup__info{
    text-align: center;
    color:var(--darkBrown);
}
.section-sup__title{
    width: 660px;
    margin: 0 auto;
}
.section-sup__text{
    width: 750px;
    margin: 7px auto 0 auto;
}

.hero__cards{
    display: flex;
    flex-wrap: wrap;
    margin: 43px auto 0 auto;

}
.hero__cards .liquid{
    margin-right: 27px;
}
.hero__cards .liquid2{
    margin-top: 22px;
}
.hero__card{
width: 580px;
height: 410px;
text-align: center;
background-image:linear-gradient(359.21deg, #1A1A1A 1.21%, rgba(26, 26, 26, 0.4) 99.86%),
url('../Images/living__room.png');
color: #fff;
padding-top: 133px;
}
.hero__card--title,
.hero__card--text{
    font: 400 34px/41px var(--gilroy);
}
.hero__card--text{
    font-weight: 700;
    margin-top: 2px;
}
.hero__card--link{
    font: 400 20px/24px var(--gilroy);
    display: inline-block;
    margin-top: 112px;
    color: #fff;
}
.hero .btn__header .btn__call{
    margin:65px 0 0 0;
}
.hero__btn{
    position: relative;
    text-align: center;
    padding: 0 20px;
}
.positioned2{
    position: absolute;
    top:-191px;
    left:854px;

}

/* Offers */
.offers{
  padding: 54px 0 83px 0;
}
.offers__cards{
    display: flex;
    justify-content:center;
    margin-top: 29px;
}
.offer__card{
    width: 320px;
    padding: 20px 23px;
    background-color: #F9F9F9;
    box-shadow: 0px 2px 24px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    color:var(--darkBrown);
}
.offer__card--title{
    font: 700 23px/28px var(--gilroy);
    margin-top: 19px;
}
.offer__card--title__inner{
    font: 400 23px/28px var(--gilroy);
}
.offer__card--info{
    margin-top: 16px;
}
.offer__card--text{
    font: 300 16px/19px var(--gilroy);
}

.offer__card--btn .btn__call{
    width: 280px;
    height: 69px;
    margin: 0 auto;
    padding: 28px 0 20px 0;
}
.offer__liquid{
    margin: 0 40px;
}
.liquid__btn{
    margin-top: 147px;
}
.liquid__btn2{
    margin-top: 128px;
}
.liquid__btn3{
    margin-top: 35px;
}
.offers .section-sup__text{
    text-align: center;
    margin-top: 41px;
}
.offers .section-sup__text .offer__link{
    color:var(--darkBrown);
}
/* /Offers */

